.hero{
  height:100vh;
  background: linear-gradient(30deg,rgb(224, 132, 132),rgb(237, 234, 234));
  display: flex;
}
.hero-left{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 180px;
  line-height: 1.1;
}
.hero-left h2{
  color: black;
  font-size: 26px;
  
}
.hero-left p{
  color: black;
  font-size: 50px;
  font-weight: 600;
}
.hero-hand-icon{
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-hand-icon img{
width:50px;
}
.hero-latest-btn{
  display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
 width:310px ;
 height: 70px;
 border-radius: 75px;
 margin-top: 30px;
 background-color: rgb(230, 91, 91); 
 font-size: 22px;
 font-style: 500;
}
.hero-right { display: flex; justify-content: flex-end; /* Align the image to the right */ align-items: center; 
padding-right: 100px; }
.hero-right img{
  width: 70%;
  
  
}